<form action="/plants" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="height">Height</label>
    <input type="number" name="height" id="height">
    <br>
    <label for="light">Light</label>
    <input type="text" name="light" id="light">
    <br>
    <label for="floweringTime">Flowering time</label>
    <input type="text" name="floweringTime" id="floweringTime">
    <br>
    <label for="native">Native</label>
    <input type="text" name="native" id="native">
    <br>
    <label for="tag">Tags</label>
    <input type="text" name="tags" id="tag">
    <br>
    <button type="submit">Add</button>
</form>