{{!-- homepage --}}
<div>
    <h1>Welcome</h1>
{{!-- Add a link that goes to the /celebrity route --}}
    <a href="/plants">Plants</a>
    <a href="/signup">Sign up</a>
<a href="/login">Log in</a>
<a href="/logout">Log out</a>
</div>