{{!-- homepage --}}
<div>
    <h1>Welcome</h1>
{{!-- Add a link that goes to the /celebrity route --}}
    <a href="/plants">Plants</a>
    <a href="/auth/signup">Sign up</a>
<a href="/auth/login">Log in</a>
<a href="/auth/logout">Log out</a>
</div>