{{!-- homepage --}}
<div class= "row">
    <div class ="col-md-6" style= "background-color:rgb(128, 119, 0); border:1px solid;">  
        Welcome 
    </div>

    <div class ="col-md-6" style= "background-color:rgb(128, 119, 0); border:1px solid;">
     To the page   
    </div>
</div>  

<div class= "raw">
        <div class="col-md-6" style= "background-color:rgb(102, 0, 128); border:1px solid;">
        hello     
        </div>
</div>
<div class= "raw">
    <div class="col-md-6" style= "background-color:rgb(0, 2, 128); border:1px solid;">

    </div>
</div>
    <h1>Welcome</h1>
<img src="/images/logo.jpg" alt="logo">
