<form action="/auth/login" method="POST">
<label>
    Username:
    <input type="text" name="username" placeholder="Your username" required>
</label>

 <label>
     E-mail:
   <input type="email" id="input-email" name="email" placeholder="Your email" />
</label>

<label>
    Password:
    <input type="password" name="password" placeholder="********" required>
</label>
<button type="submit">Log in</button>
</form>