<div>
    <h2>Plants</h2>
      <form class="d-flex" action="/plants">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="plantName">
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search">Search</i></button>
      </form>

    <div class= "raw">
        <div class="col-lg-3 col-md-4" style= border:1px solid;">
        {{#each plants}}
    <img src="{{this.imageURL}}" class="w3-round"/>
    <h4>{{name}}</h4>
    <a href="/plants/{{_id}}">More information</a>
    {{/each}} 
        </div>       
    </div>


</div>
