<br>
<br>
<form class="d-flex center" action="/plants">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="plantName">
        <button class="btn btn-outline-success bi bi-search" type="submit">Search</button>
      </form>
     <br>
<br> 
{{#each plants}}
<div class="card mb-3 bg-transparent center" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{this.imageURL}}" class="card-img" alt="image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/plants/{{_id}}" class="card-text">More information</a> 
      </div>
    </div>
  </div>
</div>
 {{/each}}

