<div>
    <h1>Favorites</h1>
</div>
{{#if userFav.favoritesPlants}}
{{#each userFav.favoritesPlants}}
<h3>{{name}}</h3>
<img alt="" src="{{imageURL}}">
{{/each}}
{{else}}
<div>No favorites yet;(</div>
{{/else}}
{{/if}}
</div>