<div>
    <h1>Favorites</h1>
</div>
{{#if userFav.favorites}}
{{#each userFav.favorites}}
<h3>{{name}}</h3>
<img alt="" src="{{imageURL}}">
<form action="/plants/{{_id}}" method="PATCH">
<button type="submit">Edit</button>
{{>deleteButton}}
</form>
{{/each}}
{{else}}
<div>No favorites yet.</div>
{{/if}}
